#lista-productos {
    text-align: center;
    margin-top: 20px;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(3, lfr);
    gap: 20px
}

.detalles {
    display: flex;
    flex-direction: row;
}

.grid-productos .producto img {
    width: 100%;
    height: auto;
}

#detalle-producto {
    text-align: center;
    margin-top: 20px;
}

#detalle-producto img {
    width: 50%
}

#detalle-producto button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#detalle-producto button:hover {
    background-color: #555;
}

body{
    font-family:Arial, sans-serif;
    background-color: rgb(215, 215, 248);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

#logo{
    width: 100px;
}

nav ul{
    display: flex;
    list-style-type: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

#filtro-categorias{
    float: left;
    width: 20%;
    padding: 10px;
    background-color: #f5f5f5;
}

#filtro-categoria ul{
    list-style-type: none;
    padding: 0;
}

#filtro-categoria ul li{
    margin-bottom: 10px;
}

#filtro-categoria ul li a{
    text-decoration: none;
    color: #333;
}